<!-- Material form register -->
<div class="alert alert-success" role="alert" *ngIf="submitted">
  This is a success alert—check it out!
</div>
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Sign up</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-5" *ngIf="!submitted">
  
      <!-- Form -->
      <form (submit)="registerFunc()" class="text-center" style="color: #757575;">
  
  
        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="text" name="username" [(ngModel)]="user.username" id="materialRegisterFormEmail" class="form-control" mdbInput>
          <label for="materialRegisterFormEmail">Username</label>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" name="password" [(ngModel)]="user.password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
            mdbInput>
          <label for="materialRegisterFormPassword">Password</label>
        </div>
  
  
        <!-- Sign up button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Sign in</button>


  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form register -->