<h1>Welcome to home page of Book's ! Version 6</h1>
<a mdbBtn color="primary" mdbWavesEffect [routerLink]="['/add/book']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active">Add</a>


<table mdbTable>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let book of books">
      <th scope="row">{{book.id}}</th>
      <td>{{book.name}}</td>
      <td>{{book.description}}</td>
      <td *ngFor="let category of book.categories">
        
        {{category.type}}
      </td> 
      
      <td>
        <a routerLink='/modify/book/{{book.id}}' class="btn btn-warning">Modify</a>
        <button (click)="deleteBook(book.id)" type="button" mdbBtn color="danger" mdbWavesEffect>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
