<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple-gradient" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand">
      <img src="assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
      
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="authenticationService.isUserLoggedIn()" routerLink="book"
          mdbWavesEffect>Book</a>
      </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" *ngIf="authenticationService.isUserLoggedIn()" routerLink="logout">Logout</a>
      <li class="nav-item"><a class="dropdown-item" *ngIf="!authenticationService.isUserLoggedIn()"
          routerLink="login">Login</a></li>
      </div>
      </div>
      </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->