<div class="container" style="margin-top: 20px;">
  <mdb-card>
    <mdb-card-header>Add a book</mdb-card-header>
    <mdb-card-body>
      <mdb-card-text>
        <form (submit)="updateBook()">
          <div class="md-form">
            <input mdbInput type="text" class="form-control"  [(ngModel)]="book.name" id="form1" name="name">
            <label for="form1" class="">Name</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" class="form-control"  [(ngModel)]="book.description" id="form2"
              name="description">
            <label for="form2" class="">Description</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" class="form-control"  *ngFor="let item of book.categories " [(ngModel)]="item.type" id="form2"
              name="categories">
            <label for="form3" class="">Category</label>
          </div>
          <button mdbBtn color="primary" mdbWavesEffect>Submit</button>
        </form>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>