<div class="container" style="margin-top: 20px;">
  <div class="alert alert-success" role="alert" *ngIf="submitted">
    This is a success alert—check it out!
  </div>
  <mdb-card>
    <mdb-card-header>Add a book</mdb-card-header>
    <mdb-card-body>

      <mdb-card-text *ngIf="!submitted">
        <form (submit)="!bookForm.invalid && submitFunc()" #bookForm="ngForm">
          <div class="md-form">
            <input mdbInput type="text" required minlength="3" class="form-control" [(ngModel)]="book.name" id="form1"
              name="name" #name="ngModel">
            <label for="form1">Name</label>
            <mdb-error *ngIf="name.dirty && name.invalid  && (name.dirty || name.touched)">Input invalid</mdb-error>
            <mdb-success *ngIf="name.dirty && name.valid">Input valid</mdb-success>
          </div>

          <div class="md-form">
            <input mdbInput type="text" class="form-control" [(ngModel)]="book.description" id="form2"
              name="description" #description="ngModel">
            <label for="form2" class="">Description</label>
            <mdb-error *ngIf="description.dirty && description.invalid">Input invalid</mdb-error>
            <mdb-success *ngIf="description.dirty && description.valid">Input valid</mdb-success>
          </div>
          <div class="md-form">
            <input mdbInput type="text" class="form-control" [(ngModel)]="book?.categories.type" id="form3"
            name="categories" #description="ngModel">
          <label for="form3" class="">Category</label>
          <mdb-error *ngIf="description.dirty && description.invalid">Input invalid</mdb-error>
          <mdb-success *ngIf="description.dirty && description.valid">Input valid</mdb-success>
          </div>
          <button mdbBtn color="primary" mdbWavesEffect>Submit</button>
        </form>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

</div>