<div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Sign in</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">

      <!-- Email -->
      <div class="md-form">
        <input type="text" name="username" [(ngModel)]="username" id="materialLoginFormEmail" class="form-control" mdbInput>
        <label for="materialLoginFormEmail">Username</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" name="password" [(ngModel)]="password" id="materialLoginFormPassword" class="form-control" mdbInput>
        <label for="materialLoginFormPassword">Password</label>
      </div>



      <!-- Sign in button -->
      <button (click)=handleJWTAuthLogin() mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit">Sign in</button>

        <hr>
        <div class="d-flex justify-content-around">
          <div>
            <!-- Forgot password -->
            Not a member ? <a [routerLink]="['/signup']">register</a>
          </div>
        </div>
    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form login -->