<!-- Footer -->
<footer class="page-footer font-small teal purple-gradient">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <h3>Ibracadabra</h3>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->